.schoolName {
    font-size: 1.7rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    font-style: italic;
    margin-bottom: 0;
    color: #52B3CB;
}

.schoolName span {
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-style: normal;
}

.eduSubTitle {
    margin-top: 5px;
    color: #C5FFFD;
    font-weight: 100;
}